* {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(25, 26, 26);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.welcome-screen {
  background-color: #03062a;
  padding: 20px;
  border-radius: 10px;
}

.container-welcome-screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container .input-data {
  text-align: left;
  align-items: left;
  padding-top: 40px;
}

#startGameBtn {
  background-color: green;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.welcome-screen img {
    margin-left: 250px;
}
.welcome-screen img,
.game-screen img {
  scale: 0.4;
}

input[type="text"] {
  color: black;
}

/* game screen  */

.game-screen {
  position: absolute;
  display: none;
}

.container-game-screen {
  border: 2px solid white;
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 400px;
}

.leaderboard {
  padding: 10px;
  height: auto;
  border-left: 2px solid white;
}

.hexagon {
  height: 75%;
}

.status-game {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.wrap-player {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 14px;
}

.rec-player1 {
  width: 16px;
  height: 16px;
  background-color: rgb(203, 25, 25);
  margin-left: 15px;
}
.rec-player2 {
  width: 16px;
  height: 16px;
  background-color: rgb(42, 113, 205);
  margin-left: 15px;
}

.col-1,
.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
}

.current {
  text-align: center;
}

.player1 {
  text-align: center;
  align-items: center;
}

#score1,
#score2 {
  margin-left: 20px;
  margin-top: 10px;
}

#currentRect {
  width: 16px;
  height: 16px;
  background-color: rgb(203, 25, 25);
}

.wrap-current {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#hexSvg {
    width: 100%;
    height: 100%;
}